Fake IPv4 / IPv6 record is not included in AXFR

If you request the `NS` for `.` (from `hns`) a fake IPv4 address (for the NS hostname) is returned, this is not included in an `AXFR` of the zone, which causes `bind` to reject the zone.
```
$ dig @127.0.0.9 . ns

; <<>> DiG 9.16.20 <<>> @127.0.0.9 . ns
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 7581
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 2
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;.                              IN      NS

;; ANSWER SECTION:
.                       518400  IN      NS      _fs00028._synth.

;; ADDITIONAL SECTION:
_fs00028._synth.        518400  IN      A       127.0.0.9

;; Query time: 0 msec
;; SERVER: 127.0.0.9#53(127.0.0.9)
;; WHEN: Fri Nov 12 17:59:22 UTC 2021
;; MSG SIZE  rcvd: 72
```
... but ....
```
$ dig @127.0.0.9 . axfr > /tmp/hns
$ grep _fs00028._synth /tmp/hns
.                       518400  IN      NS      _fs00028._synth.
$
```
This causes `bind` to reject the zone
```
Nov 12 17:40:21 hasroot local0.err named-handshake-bridge[4407]: zone ./IN (signed): NS '_fs00028._synth' has no address records (A or AAAA)
Nov 12 17:40:21 hasroot local0.err named-handshake-bridge[4407]: zone ./IN (signed): not loaded due to errors.
Nov 12 17:40:21 hasroot local0.err named-handshake-bridge[4407]: zone ./IN (signed): receive_secure_db: bad zone
Nov 12 17:40:22 hasroot local0.err named-handshake-bridge[4407]: zone ./IN (signed): receive_secure_serial: failure
```

I'm actually very confused, cos I've not upgraded either `hsd` or `bind` since the time when it was working, so I have *no* idea why this has now stopped working ?!?!?!?!

```
Sep 16 12:15:13 hasroot daemon.notice named-handshake-bridge[974]: starting BIND 9.16.20 (Extended Support Version) <id:26db37f>
Sep 17 15:26:46 hasroot daemon.notice named-handshake-bridge[4550]: starting BIND 9.16.20 (Extended Support Version) <id:26db37f>
Oct 20 15:58:29 hasroot daemon.notice named-handshake-bridge[8015]: starting BIND 9.16.20 (Extended Support Version) <id:26db37f>
Oct 20 16:04:09 hasroot local0.err named-handshake-bridge[8015]: zone ./IN (signed): NS '_fs00028._synth' has no address records (A or AAAA)
Nov 12 17:31:48 hasroot daemon.notice named-handshake-bridge[4361]: starting BIND 9.16.20 (Extended Support Version) <id:26db37f>
Nov 12 17:32:28 hasroot local0.err named-handshake-bridge[4361]: zone ./IN (signed): NS '_fs00028._synth' has no address records (A or AAAA)
Nov 12 17:33:58 hasroot daemon.notice named-handshake-bridge[4407]: starting BIND 9.16.20 (Extended Support Version) <id:26db37f>
Nov 12 17:40:21 hasroot local0.err named-handshake-bridge[4407]: zone ./IN (signed): NS '_fs00028._synth' has no address records (A or AAAA)
```
Here you can see `v9.16.20` both working fine & not working !!!!

Despite having ...
```
        check-names master ignore;
        check-names slave ignore;
        check-names response ignore;
        check-sibling no;
        check-integrity no;
```

Thanks for reporting this issue. Yeah i've been wanting to add an option to customize NS records for the root in the exported zone. I'll do this soon! 

Updated the plugin to generate A/AAAA for synth records. Some names in the root zone use these as well such as `omnitude`

```
omnitude.               21600   IN      NS      _5l6tm80._synth.
omnitude.               21600   IN      NS      _400hjs000l2gol000fvvsc9cpg._synth.
```

exported zone should now have:

```
omnitude.                               21600   IN      NS      _5l6tm80._synth.
_5l6tm80._synth.                        21600   IN      A       45.77.219.32
omnitude.                               21600   IN      NS      _400hjs000l2gol000fvvsc9cpg._synth.
_400hjs000l2gol000fvvsc9cpg._synth.     21600   IN      AAAA    2001:19f0:5:450c:5400:3ff:fe31:2ccc
```

Can you use confirm this fixes the issue with bind? Also these names should now resolve `impervious`, `proofofconcept` (they point to `omnitude` as their NS)

Yep - that fixed it - all very odd

FYI: these are the `_synth` records I get

```
.                       518400  IN      NS      _fs00028._synth.
_fs00028._synth.        518400  IN      A       127.0.0.9
ntgkn.                  21600   IN      NS      _6ggd3k0._synth.
_6ggd3k0._synth.        21600   IN      A       52.32.209.208
omnitude.               21600   IN      NS      _5l6tm80._synth.
_5l6tm80._synth.        21600   IN      A       45.77.219.32
omnitude.               21600   IN      NS      _400hjs000l2gol000fvvsc9cpg._synth.
_400hjs000l2gol000fvvsc9cpg._synth. 21600 IN AAAA 2001:19f0:5:450c:5400:3ff:fe31:2ccc
```
I also happened to notice
```
genetic_synthesizers.   21600   IN      NS      ns1.genetic_synthesizers.
ns1.genetic_synthesizers. 21600 IN      A       44.231.6.183
```
Absolutely nothing wrong with this, but I didn't know handshake were allowing underscore in names - most (all?) ICANN TLDs would not allow this.

Love it or hate it, you will find that, given `bind` is at least 90% of the installed base of DNS servers, "this is what bind does" is pretty much the industry standard, no matter what logic or the RFCs say. The RFCs for DNS are such a mess, it can be hard to know for sure what the real rules are - a good example being "what constitutes a legal DNS record name".

BTW: getting more errors during AXFR
```
Nov 15 20:59:39 hasroot user.notice hsd: [error] (ns) Out of bounds read (offset=32).
Nov 15 20:59:39 hasroot user.notice hsd:     at BufferReader.readU32BE (/usr/local/hsd/node_modules/bufio/lib/reader.js:256:10)
Nov 15 20:59:39 hasroot user.notice hsd:     at EXPIREOption.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5825:22)
Nov 15 20:59:39 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 20:59:39 hasroot user.notice hsd:     at readOption (/usr/local/hsd/node_modules/bns/lib/wire.js:6620:27)
Nov 15 20:59:39 hasroot user.notice hsd:     at Option.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5441:19)
Nov 15 20:59:39 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 20:59:39 hasroot user.notice hsd:     at OPTRecord.read (/usr/local/hsd/node_modules/bns/lib/wire.js:3788:32)
Nov 15 20:59:39 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 20:59:39 hasroot user.notice hsd:     at readData (/usr/local/hsd/node_modules/bns/lib/wire.js:6513:24)
Nov 15 20:59:39 hasroot user.notice hsd:     at Record.read (/usr/local/hsd/node_modules/bns/lib/wire.js:1885:17)
Nov 15 21:27:16 hasroot user.notice hsd: [error] (ns) Out of bounds read (offset=32).
Nov 15 21:27:16 hasroot user.notice hsd:     at BufferReader.readU32BE (/usr/local/hsd/node_modules/bufio/lib/reader.js:256:10)
Nov 15 21:27:16 hasroot user.notice hsd:     at EXPIREOption.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5825:22)
Nov 15 21:27:16 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:27:16 hasroot user.notice hsd:     at readOption (/usr/local/hsd/node_modules/bns/lib/wire.js:6620:27)
Nov 15 21:27:16 hasroot user.notice hsd:     at Option.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5441:19)
Nov 15 21:27:16 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:27:16 hasroot user.notice hsd:     at OPTRecord.read (/usr/local/hsd/node_modules/bns/lib/wire.js:3788:32)
Nov 15 21:27:16 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:27:16 hasroot user.notice hsd:     at readData (/usr/local/hsd/node_modules/bns/lib/wire.js:6513:24)
Nov 15 21:27:16 hasroot user.notice hsd:     at Record.read (/usr/local/hsd/node_modules/bns/lib/wire.js:1885:17)
Nov 15 21:55:17 hasroot user.notice hsd: [error] (ns) Out of bounds read (offset=32).
Nov 15 21:55:17 hasroot user.notice hsd:     at BufferReader.readU32BE (/usr/local/hsd/node_modules/bufio/lib/reader.js:256:10)
Nov 15 21:55:17 hasroot user.notice hsd:     at EXPIREOption.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5825:22)
Nov 15 21:55:17 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:55:17 hasroot user.notice hsd:     at readOption (/usr/local/hsd/node_modules/bns/lib/wire.js:6620:27)
Nov 15 21:55:17 hasroot user.notice hsd:     at Option.read (/usr/local/hsd/node_modules/bns/lib/wire.js:5441:19)
Nov 15 21:55:17 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:55:17 hasroot user.notice hsd:     at OPTRecord.read (/usr/local/hsd/node_modules/bns/lib/wire.js:3788:32)
Nov 15 21:55:17 hasroot user.notice hsd:     at Function.read (/usr/local/hsd/node_modules/bufio/lib/struct.js:143:23)
Nov 15 21:55:17 hasroot user.notice hsd:     at readData (/usr/local/hsd/node_modules/bns/lib/wire.js:6513:24)
Nov 15 21:55:17 hasroot user.notice hsd:     at Record.read (/usr/local/hsd/node_modules/bns/lib/wire.js:1885:17)
Nov 15 21:55:18 hasroot user.notice hsd: [error] (ns) EFORMERR: unexpected authority.
Nov 15 21:55:18 hasroot user.notice hsd:     at RootServer.answer (/usr/local/hsd/node_modules/bns/lib/server/dns.js:242:13)
Nov 15 21:55:18 hasroot user.notice hsd:     at RootServer.handle (/usr/local/hsd/node_modules/bns/lib/server/dns.js:316:24)
Nov 15 21:55:18 hasroot user.notice hsd:     at Server.<anonymous> (/usr/local/hsd/node_modules/bns/lib/server/dns.js:72:20)
Nov 15 21:55:18 hasroot user.notice hsd:     at Server.emit (events.js:400:28)
Nov 15 21:55:18 hasroot user.notice hsd:     at TCPSocket.fire (/usr/local/hsd/node_modules/bns/lib/internal/net.js:350:17)
Nov 15 21:55:18 hasroot user.notice hsd:     at Parser.<anonymous> (/usr/local/hsd/node_modules/bns/lib/internal/net.js:365:12)
Nov 15 21:55:18 hasroot user.notice hsd:     at Parser.emit (events.js:400:28)
Nov 15 21:55:18 hasroot user.notice hsd:     at Parser.feed (/usr/local/hsd/node_modules/bns/lib/internal/net.js:574:12)
Nov 15 21:55:18 hasroot user.notice hsd:     at Socket.<anonymous> (/usr/local/hsd/node_modules/bns/lib/internal/net.js:396:19)
Nov 15 21:55:18 hasroot user.notice hsd:     at Socket.emit (events.js:400:28)
``` 

>  a good example being "what constitutes a legal DNS record name".

pretty much any octet 0-255 even something crazy like `__.hello.\250\255`  should be good but bind's name checks also makes sure they're valid hostnames which have different rules.

> BTW: getting more errors during AXFR

Yeah those errors are from [bns](https://github.com/chjj/bns). bind is sending EXPIRE edns option code which is causing an out of bounds read and for "unexpected authority" I think it's attempting to do IXFR.

> I think it's attempting to do IXFR.

Yes, the default will be to do a IXFR and expect the master to fall back to AXFR, if IXFR is not available. You can disable this with `request-ixfr no;`, so I'll try that.

Its kinda busy right now. Signing the first time takes *ages*. I was having problems, so I deleted all of the `bind` data (except the keys), so it's had to start again from scratch.

> bind's name checks also makes sure they're valid hostnames which have different rules

I've used the options to disable all the checks, but now the RFC says anything is valid anyway.

The old hostname rules are related to what names would be valid to actually use as a hostname on a Unix system, but since then (1997) there's been RFCs to "clarify" that anything is valid. RFC2181, section 11 https://tools.ietf.org/search/rfc2181.html#page-13 - but the idea there are restrictions lives on in internet mythology.

```
   The DNS itself places only one restriction on the particular labels
   that can be used to identify resource records.  That one restriction
   relates to the length of the label and the full name.  The length of
   any one label is limited to between 1 and 63 octets.  A full domain
   name is limited to 255 octets (including the separators).  The zero
   length full name is defined as representing the root of the DNS tree,
   and is typically written and displayed as ".".  Those restrictions
   aside, any binary string whatever can be used as the label of any
   resource record.
```

> Its kinda busy right now. Signing the first time takes ages. I was having problems, so I deleted all of the bind data (except the keys), so it's had to start again from scratch.

I'm guessing it would take much longer if you switch to NSEC. It'd be interesting to know how big is the difference compared to signing the current zone with NSEC3 + opt out. Ideally, every handshake name should be DNSSEC signed so in the long NSEC3 wouldn't make much sense but I'm just being optimistic 😄 

> I've used the options to disable all the checks, but now the RFC says anything is valid anyway.

Yeah bind [seems to follow](https://bind9.readthedocs.io/en/latest/reference.html?highlight=check-names#boolean-options) super old RFCs the most recent one it uses for hostname checks is from 1989. The docs says:

`The rules for legal hostnames and mail domains are derived from RFC 952 and RFC 821 as modified by RFC 1123.`

> Yeah bind seems to follow super old RFCs the most recent one it uses for hostname checks is from 1989.

To be fair, extremely common, but RFC 2181 says `Updates: 1034, 1035, 1123` - and you can disable the checks (see above) - `bind` (for all its faults) at least has an option for pretty much **everything**

It's actually def been getting better recently - maybe Vixie leaving ISC was a good thing, who knows. Big shock at the time.

> every handshake name should be DNSSEC signed so in the long NSEC3 wouldn't make much sense but I'm just being optimistic

yeah - pretty much exactly what I figured, although a very significant proportion of COM domains are just parked (held by domainers etc), so who knows

All I have to do is use `rndc` to delete the `NSEC3PARAM` record, & it will re-sign the entire zone `NSEC` & carry on with dynamic signing from then onwards -> `rndc signing -nsec3param none [zone]`

I don't particularly expect anybody to be using my signed ROOT in the long term, so I figured `NSEC3+OptOut` would be fine

I forgot to include the `opt-out` flag, so its resigning the entire zone for the third time - LOL - takes about 6 hrs - its a very slow CPU, but that VM host has a ton of RAM.

OptOut does bring the zone size down from 7MB to 2Mb, so it's nice to have - and no disadvantage, even if/when everybody has `DS`, although performance-wise `NSEC` is better than `NSCE3`, cos you don't have to hash on the fly.

`bind` used to use a reference implementation of `SHA1` (the sort of thing you put in textbooks for teaching purposes), instead of the one in `openssl` - I hope they've stopped doing that now - it was dog-slow, like about 5x slower, so their `NSEC3` performance used to be wet-pants.

BTW: You seen this? https://github.com/chjj/mako - looks damn neat